<section class="category-head">
    <h2 class="category-head__title">
        Lorem ipsum dolor sit amet.
    </h2>
    <p class="category-head__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium harum ipsam necessitatibus nemo placeat similique!
    </p>
    <div class="category-head__images">
        <p class="category-head__images-title">
            Fights 3 types of sweat:
        </p>
        <div class="category-head__images-blocks">
            <div class="category-head__images-item">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/stress-icon.png" alt="Secret Stress">
                <p>Stress</p>
            </div>
            <div class="category-head__images-item">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/heat-icon.png" alt="Secret Heat">
                <p>Heat</p>
            </div>
            <div class="category-head__images-item">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/motion-icon.png" alt="Secret Motion">
                <p>Activity</p>
            </div>
        </div>
    </div>
    <h1 class="category-head__title category-head__title-last">Find the Best Choice For You</h1>
</section>
