<section class="different different-clinical">
    <div class="different__image">
        <img src="https://cdn.shopify.com/s/files/1/0497/3733/4939/files/PdpImage.jpg" alt="bike">
    </div>
    <div class="different__content">
        <h2 class="different__head different__head-clinical">The #1 Bicycle in America</h2>
        <p class="different__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto cum facere numquam odio quisquam sapiente, sed ut vel voluptatibus.</p>
        <div class="different__images-block">
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/48-hour-icon.png" alt="Secret 48 Hour">
                <p>Lorem ipsum &amp;<br> Protection</p>
            </div>
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/fresh-scent-icon.png" alt="Secret Fresh Scent">
                <p>All Day <br> Fresh Scent</p>
            </div>
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/money-back-guarantee-icon.png" alt="Secret Money Back Guarantee">
                <p>Money Back <br> Guarantee</p>
            </div>
        </div>
    </div>
</section>
<p class="different__ps">*Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, omnis?</p>
