<section class="different different-clinical">
    <div class="different__image">
        <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/stock-photo-happy-young-business-woman-relaxing-and-geting-insiration-while-working-on-desktop-computer-at-424679926.jpg" alt="clinical">
    </div>
    <div class="different__content">
        <h2 class="different__head different__head-clinical">The #1 Clinical Strength Antiperspirant in America</h2>
        <p class="different__text">Secret Clinical Strength Invisible Solid is our best protection that goes on dry and leaves you feeling dry for 48 hours. Grab Secret Clinical Strength today and experience superior wetness protection.</p>
        <div class="different__images-block">
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/48-hour-icon.png" alt="Secret 48 Hour">
                <p>48 Hour Sweat &amp;<br> Protection</p>
            </div>
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/fresh-scent-icon.png" alt="Secret Fresh Scent">
                <p>All Day <br> Fresh Scent</p>
            </div>
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/money-back-guarantee-icon.png" alt="Secret Money Back Guarantee">
                <p>Money Back <br> Guarantee</p>
            </div>
        </div>
    </div>
</section>
<p class="different__ps">*versus the wetness protection required of an ordinary antiperspirant</p>
