<section class="what-our-secret">
  <div class="container">
    <div class="what-our-secret__content">
      <div class="image">
        <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-swincash-highres-4280.jpg" alt="secret-swincash-highres-4280">
      </div>
      <div class="info">
        <div class="text">
          <h2>
            What makes Clinical Strength different?
          </h2>
          <p>
            Learn how Secret Clinical Strength is able to tackle all three types of sweat – and why this superpower is key to living a life with confidence.
          </p>
          <a href="pages/our-difference" class="btn btn--large event_internal_link" data-action-detail="what's our secret? : learn more">learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
