<section class="what-our-secret">
    <div class="container">
        <div class="what-our-secret__content">
            <div class="image">
                <img src="https://cdn.shopify.com/s/files/1/0497/3733/4939/files/bicycle13.png" alt="secret-swincash-highres-4280">
            </div>
            <div class="info">
                <div class="text">
                    <h2>
                        Lorem ipsum dolor sit amet, consectetur.
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam, aut consectetur eum inventore iure maxime minus nulla odio perferendis provident quasi.
                    </p>
                    <a href="pages/our-difference" class="btn btn--large event_internal_link" data-action-detail="what's our secret? : learn more">learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
