<h2 class="different__head" >WHY WE'RE DIFFERENT</h2>

<section class="different" >

    <div class="different__image">
        <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-ainsley-odorshield-pdp-optimized.jpg" alt="difference">
    </div>

    <div class="different__content">
        <p class="different__content--title">What makes Secret Clinical different?</p>
        <p class="different__text">There are three types of sweat: stress, heat and activity. The nutrients inside your sweat feed bacteria that live on your skin. The bacteria is what makes the stink.</p>
        <div class="different__images-block">
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/48-hour-icon.png" alt="Secret 48 Hour">
                <p>48 Hour Sweat &amp;<br> Protection</p>
            </div>
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/fresh-scent-icon.png" alt="Secret Fresh Scent">
                <p>All Day <br> Fresh Scent</p>
            </div>
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/money-back-guarantee-icon.png" alt="Secret Money Back">
                <p>Money Back <br> Guarantee</p>
            </div>
        </div>
    </div>
</section>

<h2 class="different__head" style="margin-bottom: 0;" >What it's made of</h2>
<section class="made">
    <div class="made__text-block">
            <h2 class="made__title">What’s In</h2>
            <p class="made__subtitle">Want to know what’s inside Secret Clinical Strength Antiperspirant? No sweat!</p>

    </div>
    <div class="made__text-block-gray">

            <h2 class="made__title">Aluminum</h2>
            <p class="made__subtitle">We use aluminum as our active ingredient to reduce underarm wetness. In fact, all antiperspirants use aluminum because it’s the only active ingredient that has been FDA approved to control sweat. If it doesn’t have aluminum in it, it’s just a deodorant – which doesn’t reduce sweat, just the stink. That means you can thank aluminum for keeping your skin feeling dry and fresh. Plus, our products are designed to be gentle on skin. Now, that smells like success! </p>

    </div>
    <div class="made__text-block-white">
            <h2 class="made__title">
                Skin soothing conditioners
            </h2>
            <p class="made__subtitle">Your skin goes through a lot in a day. Sometimes, you need to pamper your pits! That’s why we include soothing skin conditioners to care for your skin.</p>

    </div>
    <div class="made__text-block">
            <h2 class="made__title">What’s Out</h2>
            <p class="made__subtitle">
                We take our dedication to your skin seriously. Here’s what we keep out of our formula. No dyes and no added parabens.
            </p>
    </div>
    <div class="made__text-block-gray">
            <h2 class="made__title">
                Parabens
            </h2>
            <p class="made__subtitle">
                There are no added parabens in our products.
            </p>

    </div>
    <div class="made__text-block-white">
            <h2 class="made__title">
                Dyes
            </h2>
            <p class="made__subtitle">Some people are allergic to certain synthetic dyes. That’s why we make our antiperspirants without them.</p>

    </div>
</section>

