<h2 class="different__head" >WHY WE'RE DIFFERENT</h2>

<section class="different" >

    <div class="different__image">
        <img src="https://cdn.shopify.com/s/files/1/0497/3733/4939/files/bicycle12.png?v=1604418320" alt="difference">
    </div>

    <div class="different__content">
        <p class="different__content--title">Lorem ipsum dolor sit amet.</p>
        <p class="different__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at dolorum enim fugit illum iusto minus nulla numquam perferendis quaerat!</p>
        <div class="different__images-block">
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/48-hour-icon.png" alt="Secret 48 Hour">
                <p>Lorem ipsum. &amp;<br> Lorem</p>
            </div>
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/fresh-scent-icon.png" alt="Secret Fresh Scent">
                <p>Lorem ipsum  <br> dolor sit.</p>
            </div>
            <div class="different__images-section">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/money-back-guarantee-icon.png" alt="Secret Money Back">
                <p>Lorem ipsum  <br> dolor.</p>
            </div>
        </div>
    </div>
</section>

<h2 class="different__head" style="margin-bottom: 0;" >What it's made of</h2>
<section class="made">
    <div class="made__text-block">
            <h2 class="made__title">What’s In</h2>
            <p class="made__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolorum magnam non.</p>

    </div>
    <div class="made__text-block-gray">

            <h2 class="made__title">Aluminum</h2>
            <p class="made__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere fugiat hic laboriosam minus nemo porro ullam vero voluptatem. Ad aperiam asperiores at dolor, dolore earum harum illum, impedit nostrum optio sequi similique. Accusamus alias, asperiores culpa ea eveniet, necessitatibus nobis obcaecati praesentium quia quis repellat reprehenderit voluptates! Aperiam at autem commodi deserunt, dolor dolore enim, esse harum laboriosam magni numquam obcaecati quam qui repellat vel! Fuga itaque quae quam repudiandae.</p>

    </div>
    <div class="made__text-block-white">
            <h2 class="made__title">
                Lorem ipsum dolor.
            </h2>
            <p class="made__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolorem ipsa maiores voluptatum? Facere libero quisquam repudiandae sed vero?</p>

    </div>
    <div class="made__text-block">
            <h2 class="made__title">What’s Out</h2>
            <p class="made__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloribus earum illo magni repellendus voluptatem!
            </p>
    </div>
    <div class="made__text-block-gray">
            <h2 class="made__title">
                Parabens
            </h2>
            <p class="made__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, eum.
            </p>

    </div>
    <div class="made__text-block-white">
            <h2 class="made__title">
                Dyes
            </h2>
            <p class="made__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos incidunt, laboriosam laudantium quia repellendus tenetur.</p>

    </div>
</section>

