<div class="container">
    <div class="reviews">
        <div class="review-slide">
            <div class="review-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur.
                </p>
                <div class="review-author">
                    -Thom
                </div>
            </div>
        </div>
        <div class="review-slide">
            <div class="review-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur.
                </p>
                <div class="review-author">
                    -Jenny
                </div>
            </div>
        </div>
        <div class="review-slide">
            <div class="review-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur.
                </p>
                <div class="review-author">
                    -Christina
                </div>
            </div>
        </div>
    </div>
</div>
