<section class="why-we-are">
    <div class="container why-we-are__content">
        <div class="leftbar">
            <div class="title">
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, officia.
                </h2>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolores eius error minus officia qui, recusandae reiciendis vitae?
            </p>
        </div>
        <div class="rightbar">
            <div class="image">
                <img src="https://cdn.shopify.com/s/files/1/0497/3733/4939/files/bicycle11.png" alt="best-bike-optimized">
            </div>
        </div>
    </div>
</section>
