<section class="why-we-are">
    <div class="container why-we-are__content">
        <div class="leftbar">
            <div class="title">
                <h2>
                    See why we’re America’s best-selling brand for sweat protection.
                </h2>
            </div>
            <p>
                Hear what real customers are saying about our Clinical Strength line of products – and learn why we won 2019 Allure Best of Beauty.
            </p>
        </div>
        <div class="rightbar">
            <div class="image">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-best-selling-allure-optimized.png" alt="secret-best-selling-allure-optimized">
            </div>
        </div>
    </div>
</section>
