<div class="secret-page">
    <section class="secret-superior">
            <h2 class="secret-superior__title head-title">Lorem ipsum dolor.</h2>
            <div class="secret-superior__main">
                <div class="secret-superior__text-block">
                    <h3 class="secret-superior__text-header">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias asperiores dolor esse natus placeat quidem soluta veritatis! Alias at consequuntur delectus dolor dolorum ea, eius eligendi eum illo, illum maxime nulla quod sapiente vel velit, veniam vero. Commodi consequatur dolores ex facilis libero maxime necessitatibus nobis provident reprehenderit sed.</p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0497/3733/4939/files/PdpImage.jpg" alt="superior image">
            </div>
    </section>
    <section class="secret-stress">
            <h3 class="secret-stress__head">
                Lorem ipsum dolor sit amet.
            </h3>
            <p class="secret-stress__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto asperiores atque aut ea expedita, fuga ipsum iure labore maxime necessitatibus neque pariatur.  </p>
            <div class="secret-stress__images-block">
                <div class="secret-stress__image-item">
                    <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-ourdifference-stress-sweat-icon-1-optimized.png" alt="secret-stress">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut laudantium repellat. </p>
                </div>
                <div class="secret-stress__image-item">
                    <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-ourdifference-stress-sweat-icon-2-optimized.png" alt="secret-part-nature">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut laudantium repellat.</p>
                </div>
                <div class="secret-stress__image-item">
                    <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-ourdifference-stress-sweat-icon-3-optimized.png" alt="secret-happens">
                    <h4>Lorem ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut laudantium repellat.</p>
                </div>
            </div>
    </section>
    <section class="secret-night">
            <div class="secret-superior__main">
                <img src="https://cdn.shopify.com/s/files/1/0497/3733/4939/files/shopImage.jpg" alt="superior image">
                <div class="secret-superior__text-block">
                    <h3 class="secret-superior__text-header">Lorem ipsum dolor sit amet, consectetur.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dicta dolor et expedita impedit perferendis praesentium quos reiciendis similique? Atque expedita fugiat magni reprehenderit unde.</p>
                </div>
            </div>
    </section>
</div>
