<div class="secret-page">
    <section class="secret-superior">
            <h2 class="secret-superior__title head-title">Superior sweat protection</h2>
            <div class="secret-superior__main">
                <div class="secret-superior__text-block">
                    <h3 class="secret-superior__text-header">Our best protection you can count on.</h3>
                    <p>Secret Clinical Strength Invisible Solid is just what you want in a prescription-strength* antiperspirant: it’s our best protection that goes on dry with a smooth, even application. Plus, it includes soothing skin conditioners that are gentle on your skin.</p>
                </div>
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-stressresponse-ourdifference-optimized.jpg" alt="superior image">
            </div>
    </section>
    <section class="secret-stress">
            <h3 class="secret-stress__head">
                Stress sweat smells the WORST.
            </h3>
            <p class="secret-stress__text">There are three types of sweat: stress, heat and activity. Did you know that sweat from stress actually smells worse than the other types? That’s why our clinical strength antiperspirant is especially designed to tackle sweat that comes from stress, even for people who have hyperhidrosis.  </p>
            <div class="secret-stress__images-block">
                <div class="secret-stress__image-item">
                    <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-ourdifference-stress-sweat-icon-1-optimized.png" alt="secret-stress">
                    <h4>Stress sweat stinks.</h4>
                    <p>Since stress sweat is hormone activated, it smells worse than when you sweat from activity or heat. </p>
                </div>
                <div class="secret-stress__image-item">
                    <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-ourdifference-stress-sweat-icon-2-optimized.png" alt="secret-part-nature">
                    <h4>It can happen to anyone.</h4>
                    <p>Stress activates different parts of your body than heat or activity – it’s part of your body’s natural fight or flight response to a threat.</p>
                </div>
                <div class="secret-stress__image-item">
                    <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-ourdifference-stress-sweat-icon-3-optimized.png" alt="secret-happens">
                    <h4>It can happen instantly.</h4>
                    <p>You can plan for heat or activity sweat, but you never know when stress sweat will hit you. Our Stress Response Technology is ready no matter what.</p>
                </div>
            </div>
    </section>
    <section class="secret-night">
            <div class="secret-superior__main">
                <img src="https://cdn11.bigcommerce.com/s-rq4scv6wd6/product_images/uploaded_images/secret-ourdifference-best-results-optimized.png" alt="superior image">
                <div class="secret-superior__text-block">
                    <h3 class="secret-superior__text-header">For best results, use at night.</h3>
                    <p>Secret Clinical Strength’s formula is designed to be used at night to take advantage of your body’s natural temperature variations. Apply at night for prescription strength* wetness protection.</p>
                </div>
            </div>
    </section>
</div>
